.top-bar {
  margin-bottom: 0;
}
#event-console {
  height: 150px;
  overflow: auto;
}
.event-msg {
  padding: 5px 0 10px;
  margin: 5px 0;
  border-bottom: dashed 1px #aaa;
}
.welcome-msg {
  font-weight: bold;
}
#connected-clients {
}
.client {
  background: #ddd;
  border: solid 1px #c3c3c3;
  cursor: pointer;
}
.client.you {
  background: #9d9;
  border-color: #7b7;
}
.client.highlight {
  -webkit-box-shadow: rgb(238, 255, 68) 3px 3px 15px;
  -moz-box-shadow: rgb(238, 255, 68) 3px 3px 15px;
  box-shadow: rgb(238, 255, 68) 3px 3px 15px;
  cursor: default;
}
.client-id {
  display: block;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}
